@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav {
  display: flex;
  column-gap: 15px;
}

header .nav-ul {
  list-style: none;
  display: flex;
  column-gap: 10px;
}

header .nav-ul li {
  cursor: pointer;
  transition: opacity 0.5s ease;
}

header .nav-ul li:hover {
  opacity: 0.5;
}

header .logo {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-weight: 600;
  font-size: 20px;
}

header .logo img {
  width: 20px;
  height: 20px;
}

/* header ul.nav {
  list-style: none;
}

header ul.nav li {
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

header ul.nav li:hover {
  opacity: 0.5;
} */

header .shop-cart-button {
  cursor: pointer;
  transition: color, transform 0.5s ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
  color: #dc3d3d;
  transform: scale(1.2);
}

header div {
  position: relative;
}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  min-height: 280px;    
  background-color: #fff;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 1000;
  padding: 25px;
  display: flex;             
  flex-direction: column;     
  justify-content: space-between; /*распределяем контент */
}


.shop-cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.item-left-side {
  display: flex;
  column-gap: 10px;
}

header .shop-cart .empty h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop-cart .item {
  width: 100%;
  margin-bottom: 20px;
}
header .shop-cart .item .item-text {
  display: flex;
  flex-direction: column;
  align-items: start;
}
header .shop-cart .item img {
  border-radius: 5px;
  width: 70px;
  float: left;
}

header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .item p {
  color: #797979;
  font-weight: 600;
}

header .shop-cart .item .delete-icon {
  color: #ca5252;
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: color, transform 0.5s ease;
}

header .shop-cart .item .delete-icon:hover {
  color: #d83030;
  transform: scale(1.2);
}

header .shop-cart .sum {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

header .presentation {
  margin: 50px 0;
  background: url("./img/background.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

header .presentation::after {
  content: "Самые свежие цветы в городе";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 400px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

header .presentation::before {
  content: "по оптовым ценам";
  position: absolute;
  top: 210px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}

.categories {
  text-align: center;
}
.categories div {
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}

.categories div :hover {
  border-color: silver;
  transform: scale(1.1);
}

main {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.item-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagi button {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

main .item {
  width: 30%;
  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

main .item img,
.full-item img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.5s ease;
  cursor: pointer;
}

main .item img:hover,
.full-item img:hover {
  transform: scale(1.05);
}

main h2,
main p,
main b,
.full-item h2,
.full-item p,
.full-item b {
  margin: 10px 20px;
  color: #333;
}

main b,
.full-item b {
  color: #5fa365;
}

main .add-to-cart,
.full-item .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.5s ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
  transform: scale(1.05) translateY(-2px);
}

footer {
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  row-gap: 10px;
}

.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
}

.full-item > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 30px 30px;
  background: #fff;
  border-radius: 9px;
}

footer ul {
  display: flex;
  align-items: center;
  column-gap: 30px;
  align-items: center;
  list-style: none;
}

footer ul li img {
  width: 30px;
  height: 30px;
}

footer p {
  font-size: 20px;
}

.cart-page {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 50px;
}

.cart-page h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.cart-empty {
  font-size: 20px;
  color: #777;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
}

.cart-item img {
  width: 100px;
  border-radius: 10px;
}

.cart-info {
  flex: 1;
  margin-left: 20px;
}

.cart-item .delete-icon {
  cursor: pointer;
  font-size: 20px;
  color: #ca5252;
}

.cart-summary {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn {
  margin-top: 20px;
  padding: 14px 35px;
  background: #5fa365;
  border: none;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
}

.back-btn {
  margin-top: 30px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #555;
}

.logo {
  cursor: pointer;
}
